* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}
.header {
  text-align: center;
  margin-top: 90px;
}
.main-heading {
  font-size: 1.8rem;
  font-weight: 200;
}
.secondary-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin-bottom: 15px;
}
.heading-text {
  width: 500px;
  margin: 0 auto 35px auto;
}
.container {
  margin: 0 auto 35px auto;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  box-shadow: 2px 8px 14px 0px rgba(0,0,0,0.2);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
  margin: 15px;
  width: 350px;
  height: 250px;
}
.card-heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin-bottom: 10px;
}
.card-text {
  width: 300px;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-top: 35px;
}

#supervisor-border { border-top: 4px solid hsl(180, 62%, 55%);}
#team-builder-border { border-top: 4px solid hsl(0, 78%, 62%);}
#karma-border { border-top: 4px solid hsl(34, 97%, 64%);}
#calculator-border { border-top: 4px solid hsl(212, 86%, 64%);}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 1140px) {
  .header{
    margin-top: 90px;
  }
  .main-heading,
  .secondary-heading {
    font-size: 1.4rem;
  }

  .heading-text {
    font-size: 0.9rem;
    font-weight: 400;
    width: 295px;
    margin-bottom: 80px;
  }

  .container {
    max-width: 375px;
    width: 375px;
    flex-direction: column;
  }
  .card {
    font-size: 0.8rem;
    width: 310px;
    height: 220px;
  }
  .card-text {
    width: 230px;
  }
}
